@page
@model PDFinch.TestClient.ASPNET60.Pages.IndexModel
@{
}

<h1>Error</h1>

<p>If you see this, an error occurred. The error:</p>

<pre>@Model.StatusMessage</pre>

<p>Hit reload to try again.</p>
